.header {
    position: fixed;
    width: 1990px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    background-color: white;
    z-index: 1;

}

.header img {
    width: 143px !important;
    height: 27px !important;
    padding-top: 0;
}

.header .row span {
    display: flex;
}

.header button {
    border-radius: 30px;
    color: white;
    background-color: #FF8D5C;
    font-family: "Satoshi", Sans-serif;
    font-weight: 700;
    border-radius: 40px 40px 40px 40px;
    padding: 14px 20px 14px 20px;
    border: 0px;
}

.choose-us {
    width: 60%;
    position: relative;
    border-radius: 30px;
    background-color: #171E44;
    margin-left: 400px;
    margin-top: 80px;
    display: flex;
}

.choose-us .info {
    padding: 0;
}

.choose-us .info:last-child {
    background-color: #08526d;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px
}

.choose-us .h1 {
    margin: 40px;
    color: white;
    font-size: 42px;
}

.choose-us p {
    margin: 40px;
    line-height: 2;
    font-size: 25px;
    color: white;
}

.choose-us button {
    border-radius: 30px;
    color: white;
    background-color: #FF8D5C;
    padding: 12px 70px;
    margin: 40px;
    border: 0px;
}


.choose-us img {
    max-width: 100%
}

.choose-us .right {
    display: block;
    align-items: center;

}


.choose-us .right img {
    height: 500px;
    width: 500px;
    margin-right: 50px;
    margin-top: 20px;
    object-fit: cover;
    background-color: #97D1D5;
    border-radius: 77% 23% 33% 67% / 58% 37% 63% 42%;
    border-radius: 40% 60% 39% 61% / 39% 34% 66% 61%;
}

.choose-us .link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.choose-us .right .app {
    border-radius: 20px;
    background-color: white;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 26px;


}

.choose-us .right .app h1 {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 16px;

}

.choose-us .right .app a {
    color: #171E44;
    margin-bottom: 20px;
    margin-left: 16px;
}

.choose-us .right .google {
    border-radius: 20px;
    background-color: white;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 26px;

}

.choose-us .right .google h1 {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 16px;
}

.choose-us .right .google a {
    color: black;
    margin-bottom: 20px;
    margin-left: 16px;

}

.choose-us .i {
    position: absolute;
    right: 551px;
    border-radius: 50%;
    border: 10px solid #171E44;
    bottom: -30px;
}

.choose-us .container-fluid .i i {
    background: #fff;
    border-radius: 35px;
    text-align: center;
    padding: 20px 20px 20px 20px;

}

/*Start features*/
.features {
    padding: 100px 0px 0px 200px
}

.features i {
    background-color: #B8DDB6;
    color: #FFF;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    line-height: 60px;
    padding: 15px;
}

.features h3 {
    color: #000000;
    font-size: 22px;
}

.features p {
    color: #989898;
    margin-bottom: 40px;
    font-size: 14px;
}
.elementor-icon {
    display: inline-block;
    line-height: 1;
    transition: all .3s;
    color: #69727d;
    font-size: 100px;
    text-align: center;
}
.features .elementor-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}

/* End Features */
.container-phone {
    border-radius: 20px;
    background-color: #fce5f0;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 80px 100px 0px 0px;
    margin: 100px 455px 0px 400px;
    margin-top: 70px;

}
.container-phone .elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}


.container-phone .kvittering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-phone .kvittering h1 {
    background-color: white;
    border-radius: 10px;
    font-size: 40px;
    line-height: 2.8;
    padding: 40px;
    align-content: center;
    align-items: center;

}

.container-phone img {
    margin-top: 30px;
    width: 300px;

}
.container-phone .orange_circle_max {
    position: absolute;
    width: 42px;
    height: 42px;
    left: calc((50% - 21px) - 187px);
    top: 30px;
    background: rgb(255, 141, 92);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
.container-phone .black_circle_min {
    position: absolute;
    width: 22px;
    height: 22px;
    left: calc(50% - 11px + 45px);
    top: 230px;
    background: rgb(23, 30, 68);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
.container-phone .orange_circle_min {
    position: absolute;
    width: 12px;
    height: 12px;
    left: calc(50% - 6px + 19px);
    top: 400px;
    background: rgb(255, 141, 92);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
.container-phone .green_circle_min {
    position: absolute;
    width: 22px;
    height: 22px;
    left: calc((50% - 11px) - 360px);
    top: 560px;
    background: rgb(107, 187, 119);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
.container-phone .blue_circle_min {
    position: absolute;
    width: 22px;
    height: 22px;
    left: calc((50% - 11px) - 403px);
    top: 740px;
    background: rgb(151, 209, 213);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
.container-phone .yellow_circle_max {
    position: absolute;
    width: 42px;
    height: 42px;
    left: calc(50% - 21px + 321px);
    top: 890px;
    background: rgb(252, 218, 103);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
.container-phone .pink_circle_min {
    position: absolute;
    width: 22px;
    height: 22px;
    left: calc((50% - 11px) - 337px);
    top: 1450px;
    background: rgb(246, 191, 201);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}


.container-phone .container p {
    text-align: center;
    font-size: 40px;
}

.container-phone .functions_in_snap_books-table {
    width: 100%;
    margin-top: 46px;
    display: grid;
    padding: 20px;
    grid-template-columns: 49.15% 31.25% 19.71%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(255 242 249) 0px 4px 214px;
    border-radius: 40px;
}

.container-phone .h2 {
    font-family: Satoshi;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(23, 30, 68);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 25px 0px 25px 30px;
}

.container-phone .h1 {
    font-family: Satoshi;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(23, 30, 68);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.container-phone i {
    color: green;
    width: 100%;
    padding: 25px 0px;
}


/* Start Footer */
.footer {
    background-color: #171E44;
    padding: 100px 0px 80px;
    border-radius: 20px;
    margin-top: 75px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer .box h3 {
    font-family: unset;
    color: white;
    font-size: 18px;
}

.footer .box .text {
    line-height: 2;
    color: #fff
}

.footer .box .links h1 {
    color: white;
    font-size: 18px;
}

.footer .box .line h1 {
    color: white;
    font-size: 18px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    color: white;
    font-size: 18px;
}

.footer .boxs h2 {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.footer .boxs .app {
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 10px;
    padding: 3px;
}

.footer .boxs .app h1 {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 16px;

}

.footer .boxs .app a {
    color: #171E44;
    margin-bottom: 20px;
    margin-left: 16px;
}

.footer .boxs .google {
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 10px;
    padding: 3px;
}



.footer .boxs .google h1 {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 16px;
}

.footer .boxs .google a {
    color: black;
    margin-bottom: 20px;
    margin-left: 16px;

}

/* End Footer */